@import url("../css/fonts.css");

:root {
  /* colors */
  --bg-dark: #333333;
  --dark-gray: #a9a9a9;
  --white-font: #fafafa;
  --footer-font: lightgray;
  --footer-font-hover: #fcfcfc;

  /* font-family */
  --OpenSans: "OpenSans", cursive;
  --Shizuru: "Shizuru", cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--OpenSans);
}

/*---------global----------*/

a {
  text-decoration: none;
  cursor: pointer;
}

.button {
  border: 2px solid var(--bg-dark);
  border-radius: 5px;
  color: var(--bg-dark);
  padding: 2px 6px;
}

.button:hover {
  background-color: var(--bg-dark);
  border-radius: 5px;
  color: var(--white-font);
  padding: 2px 6px;
}

.normal-link:hover {
  font-weight: bold;
}

.search {
  border: 1px solid var(--dark-gray);
  border-radius: 5px;
  height: 30px;
  width: 100%;
  font-size: 0.9rem;
  padding: 2px 15px;
  outline: 0;
}

.search:hover,
.search:focus {
  border: 2px solid var(--bg-dark);
}

/*---------nav bar---------*/

.nav {
  background: var(--bg-dark);
  padding: 0 1.6rem;
  overflow: hidden;
  height: 0;
  min-height: 4.5rem;
  transition: 1s ease-in-out;
}

.nav a {
  color: var(--white-font);
  padding: 1.6rem 0;
}

.nav .nav-menu,
.nav-items {
  display: flex;
  justify-content: space-between;
  font-size: 1.1rem;
}

.nav-brand {
  font-size: 1.6rem;
  padding: 1rem 0;
  display: block;
}

.nav-brand img {
  background-color: var(--white-font);
  border-radius: 5px;
}

.datetime {
  color: var(--white-font);
  padding: 1rem;
  position: absolute;
  left: 200px;
  width: 250px;
}

.date {
  font-size: 15px;
  letter-spacing: 1.6px;
  text-align: center;
}

.time {
  font-size: 25px;
  text-align: center;
}

.time span:last-child {
  font-size: 15px;
}

.nav-items .nav-link {
  padding: 1.6rem 1rem;
  position: relative;
}

.nav .nav-items .nav-link.selected-nav {
  background: black;
}

.nav .nav-items .logout a {
  color: grey;
}

.nav .toggle-collapse {
  position: absolute;
  top: 0%;
  right: 5%;
  cursor: pointer;
  display: none;
}

.collapse {
  min-height: 28rem;
}

.nav .toggle-collapse .toggle-icons {
  display: flex;
  justify-content: flex-end;
  padding: 1.7rem 0;
}

.nav .toggle-collapse .toggle-icons i {
  font-size: 1.4rem;
  color: var(--white-font);
}

.nav .nav-items .nav-link:hover {
  background: var(--dark-gray);
}

.nav .nav-items .logout a:hover {
  color: var(--white-font);
}

@media only screen and (max-width: 1100px) {
  .nav .nav-menu,
  .nav-items {
    flex-direction: column;
    justify-content: space-between;
  }

  .nav .toggle-collapse {
    display: initial;
  }
}

/*-----messages------*/

.messages {
  text-align: center;
}

.error {
  background-color: #ffd2d2;
  color: #d8000c;
  padding: 3px;
}

.success {
  background-color: #dff2bf;
  color: #4f8a10;
  padding: 3px;
}

/*-----popup modals------*/

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 80%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--bg-dark);
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-body {
  padding: 10px 15px;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.single-item i {
  position: absolute;
  top: 35px;
  right: 5%;
  visibility: hidden;
}

.single-item small {
  position: absolute;
  font-size: 0.7rem;
  color: #e74c3c;
  left: 5%;
  bottom: 0;
  visibility: hidden;
}

.single-item.not-valid small {
  visibility: visible;
}

.single-item.valid input {
  border-color: #2ecc71;
}

.single-item.valid i.fa-check-circle {
  visibility: visible;
  color: #2ecc71;
}

.single-item.not-valid input {
  border-color: #e74c3c;
}

.single-item.not-valid i.fa-exclamation-circle {
  visibility: visible;
  color: #e74c3c;
}

/*---content---*/

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 50px 100px 50px;
}

.home-img {
  width: auto;
  height: 60vh;
}

.home-title {
  height: 10vh;
  font-size: 1.5rem;
}

.home-title h1 {
  font-family: var(--Shizuru);
}

.radio-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.radio-box span {
  font-size: 0.8rem;
  padding: 0 10px 0 5px;
}

/*--table--*/

table {
  border-collapse: collapse;
  border-bottom: solid var(--bg-dark);
  font-size: 0.9rem;
}

th,
td {
  text-align: center;
  border: 1px solid var(--dark-gray);
  padding: 10px 20px;
}

.align-left {
  text-align: left;
}

::-webkit-scrollbar {
  width: 6px;
}

.table_item {
  height: 65vh;
  overflow: auto;
  margin: 10px;
}

.table_item thead th {
  position: sticky;
  top: 0;
  background-color: var(--bg-dark);
  color: var(--white-font);
  border-bottom: solid var(--bg-dark);
}

tr {
  background-color: lightgray;
}

/* tr:nth-child(odd) {
  background-color: lightblue;
} */

tr:hover {
  background-color: var(--white-font);
}

/*-------form---------*/

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  border-radius: 5px;
  width: auto;
}

.form .item {
  padding: 3px 15px;
}

.form .item .single-item {
  padding: 6px 6px 13px 6px;
  position: relative;
}

.item .single-item label {
  display: block;
  font-size: 0.8rem;
  padding-bottom: 0.1rem;
}

.item .single-item input,
select {
  width: 100%;
  padding: 5px 10px;
  border-radius: 5px;
}

.form-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-btn button,
.form-btn input {
  display: inline-block;
  min-width: 100px;
  border-radius: 4px;
  background-color: grey;
  border: none;
  color: var(--white-font);
  text-align: center;
  padding: 5px;
  cursor: pointer;
  margin-top: 5px;
  border: 2px solid var(--bg-dark);
}

.form-btn button:hover,
.form-btn input:hover {
  box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.1), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.group {
  margin: 8px;
  border: 1px solid var(--dark-gray);
  padding: 8px;
  border-radius: 4px;
}

.form .item p {
  font-size: 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form .to-border {
  border: 2px solid var(--bg-dark);
  border-radius: 5px;
}

/*----footer----*/

footer {
  position: fixed;
  height: 80px;
  background-color: var(--bg-dark);
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  color: var(--footer-font);
}

footer i {
  padding: 5px 10px;
  color: var(--footer-font);
}

footer i:hover {
  color: var(--footer-font-hover);
}

footer .footer-end {
  padding: 10px;
}

footer .footer-end a {
  color: var(--footer-font);
}

footer .footer-end a:hover {
  color: var(--footer-font-hover);
}

#result {
  border: 1px dotted #ccc;
  padding: 3px;
}
#result ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#result ul li {
  padding: 5px 0;
}
#result ul li:hover {
  background: #eee;
}
