<footer>
    <div class="content">
      <section>
        <!-- Facebook -->
        <a href="#!" role="button"><i class="fab fa-facebook"></i></a>
  
        <!-- Twitter -->
        <a href="#!" role="button"><i class="fab fa-twitter"></i></a>
  
        <!-- Google -->
        <a href="#!" role="button"><i class="fab fa-google"></i></a>
  
        <!-- Instagram -->
        <a href="#!" role="button"><i class="fab fa-instagram"></i></a>
  
        <!-- Youtube -->
        <a href="#!" role="button"><i class="fab fa-youtube"></i></a>
  
        <!-- Linkedin -->
        <a href="#!" role="button"><i class="fab fa-linkedin"></i></a>

      </section>
      <div class="footer-end">
        <p>copyright &copy;2022 <a target="_blank" href="https://deepblade.com/"><strong>Studio Shine</strong></a></p>
      </div>
    </div>

  </footer>